﻿<div ng-cloak ng-show="!ctrl.pager.device.is_android">
    <p>Not available for IOS</p>
</div>

<div ng-show="ctrl.pager.device.is_android" ng-cloak class="layout-row layout-fill ng-cloak" ng-class="ctrl.timeblockSelected ? ['record-selected'] : []">

	<div class="record-container" id="record-container">

		<div class="align-center add-device-button padding">
			<a href class="btn btn-info" ui-sref="secure.settings.emergency">Emergency Contacts</a>
		</div>

		<div infinite-scroll='ctrl.pager.nextPage()' data-infinite-scroll-disabled='ctrl.pager.busy'
			 data-infinite-scroll-distance='1' data-infinite-scroll-container="ctrl.container"
			 class="list-striped single-line flex">
			<div ng-repeat="timeblockItem in ctrl.pager.timeblocks" class="gridLine">
				<div class="layout-column">
					<span class="flex"></span>
					<i ng-show="timeblockItem.is_enabled" data-status-icon data-page="timeblocks"
					   data-restriction-status="1" class="gridTypeImage pull-left"></i>
					 <i ng-show="!timeblockItem.is_enabled" data-status-icon data-page="timeblocks"
					   data-restriction-status="4" class="gridTypeImage pull-left"></i>
					<span class="flex"></span>
				</div>

				<div class="flex gridLineText text-primary timeblock-item" ng-click="ctrl.selectTimeBlock(timeblockItem)">
					<span class="timeblock-display-name">
						{{timeblockItem.display_name}}
					</span>
					<br />
					<span class="timeblock-display-time">
						{{timeblockItem | timeBlockDays}}<br>
						{{timeblockItem | timeBlockRange}}
					</span>
				</div>

				<status-settings row-data="timeblockItem" page="timeblocks"
								 android="{{ctrl.pager.device.is_android}}"></status-settings>
			</div>

			<div ng-show="!ctrl.pager.timeblocks.length">No time blocks found...</div>
		</div>

        <button class="mdl-button mdl-button--fab" title="Add New Time Block"
                ng-click="ctrl.addTimeBlock()" data-mdl
                ng-if="true || ctrl.pager.device.is_android">
            <i class="material-icons">add</i></button>
    </div>

    <div class="main-content" ng-include="ctrl.template">
    </div>
</div>
