<div class="modal-header">
    <h3 class="modal-title" ng-bind-html="ctrl.title"></h3>
</div>
<div class="modal-body" ng-bind-html="ctrl.message">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()" ng-bind="ctrl.okLabel"></button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()" ng-bind="ctrl.cancelLabel"></button>
</div>
