<form name="alertForm" id="alertForm">

    <div class="form-group">
        <h4 ng-if="ctrl.econtact.id">Update Emergency Address</h4>
        <h4 ng-if="!ctrl.econtact.id">Add Emergency Address</h4>
        <p>
			<label for="phone">Phone Number</label>
			<input type="phone" id="phone" name="phone" class="form-control" placeholder="Phone Number"
				   ng-model="ctrl.econtact.phone_number">
        </p>
        
        <p>
			<label for="description">Description</label>
			<input type="text" id="description" name="description" class="form-control" placeholder="Short Description (e.g. Mom, Neighbor)"
				   ng-model="ctrl.econtact.description">
        </p>
    </div>
    
    <button type="button" class="btn btn-info" ng-click="ctrl.addUpdateEmergencyContact()"><span ng-if="!ctrl.econtact.id">Create</span><span ng-if="ctrl.econtact.id">Update</span> Emergency Address</button>
    
    <button type="button" class="btn btn-default"
            ng-click="$state.go('secure.settings.emergency', {}, {reload: false})">Cancel
    </button>
</form>
