﻿<div class="container-fluid">

    <h4 class="padding">
        Emergency Contacts are used by the Time Block feature. When a child's phone is blocked they will still be able to call any of the phone numbers defined here.
    </h4>

    <md-list role="list" class="list-striped">

        <md-list-item ng-repeat="econtact in ctrl.econtacts" class="md-3-line row" ng-swipe-left="showActions = true">
            <div class="md-list-item-text padding" ng-show="!showActions">
                <h3 ng-bind="econtact.phone_number | phone"></h3>
                <p ng-bind="econtact.description"></p>
            </div>
            <div class="md-secondary-container">

				<!-- update existing emergency address -->
                <a href ui-sref="secure.emergency.edit({econtact: econtact})"><i
                    class="material-icons iconAllowFill">edit</i></a>

                <!-- delete an existing emergency address -->
                <a href ng-click="ctrl.delete(econtact.id)"><i class="material-icons iconDeleteFill">delete</i></a>

            </div>
        </md-list-item>
    </md-list>

    <div ng-cloak ng-if="true">
        <p class="align-center">
			<div class="align-center add-device-button padding">
				<a href class="btn btn-info" ui-sref="secure.emergency.add">Add Emergency Address</a>
			</div>
        </p>
    </div>
</div>
