﻿<div class="layout-column layout-fill" style="padding-top: 10px;">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active" ng-repeat="tab in ctrl.tabs" role="presentation">
            <a ui-sref="{{tab.route}}" ng-bind="tab.heading"></a>
        </li>
    </ul>

    <div ui-view class="flex list-container tabcontent"></div>
</div>
