<div class="main-content layout-column">
    <div class="subhead">
        <h2 ng-bind="ctrl.recipient | wdContactName"></h2>
        <a href ng-click="ctrl.closeMessage()"><i class="material-icons">close</i></a>
    </div>

    <div class="list-container flex">
        <div ng-repeat="msg in ctrl.messages">

            <div ng-show="msg.subject" ng-bind="msg.subject" ng-class="['subject']">
            </div>
	    <div ng-class="msg.is_outgoing ? ['outgoing'] : ['incoming']">
                <div class="chat-header">
                    <span class="glyphicon glyphicon-time"></span> <span ng-bind="msg.device_created_on | wdDate"></span>
                </div>
                <div ng-bind="msg.body"></div>

                <dif ng-repeat="att in msg.attachments">
                    <div ng-cloak ng-if="att.type.id == 1"><img class="img-responsive" ng-src="{{ctrl.getAttachmentUrl(att)}}"></div>
                    <div ng-cloak ng-if="att.type.id != 1">Download {{att.type.description}}: <a ng-href="{{ctrl.getAttachmentUrl(att)}}">{{att.filename}}</a></div>
                </dif>
            </div>
	</div>
    </div>
</div>
