<form name="alertForm" id="alertForm">
    <h4>Add Email Alert</h4>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail"
               ng-model="ctrl.newaddress.email">

        <div ng-messages="alertForm.email.$error" role="alert"
             ng-show="alertForm.$submitted || alertForm.email.$dirty">
            <div ng-message="required">Email Address is required</div>
            <div ng-message="email">Email Address is not in the right format</div>
        </div>
    </div>
    <button type="button" class="btn btn-info" ng-click="ctrl.add(ctrl.newaddress)">CREATE</button>
    <button type="button" class="btn btn-default"
            ng-click="$state.go('secure.settings.alerts', {}, {reload: false})">CANCEL
    </button>
</form>
