<div account-bar ng-if="secure.devices.length > 1" data-navigate="secure.dashboard"></div>

<div class="padding">
    <h2>You're Almost Done</h2>

    <p>We are fetching your child's data and this could take some time ( up to 24-48 hours ) depending on whats
        available.</p>

    <p>We will send you an email when the process is finished. When you get the email, check back here to see the data.
    <p>

    <p>To ensure the most current data from your child's device, do the following.</p>

    <h2>How to Configure Your Child's iPhone</h2>

    <p>In order to use My Mobile Watchdog, you must configure your child's phone to use iCloud backups. Follow
        the following instructions.</p>
    <p>To configure the iCloud settings on your iOS device:</p>

    <ol>
        <li>Open the Settings app</li>
        <li>Select iCloud</li>
        <li>Sign into iCloud with your Apple ID if you need to.</li>
        <li>Click "Backup"</li>
        <li>Turn iCloud Backup on.</li>
        <li>Click "Back Up Now"</li>
    </ol>

    <p>Thanks for your Patience and Trust</p>

    <p>The My Mobile Watchdog Team</p>

</div>
