<div class="container layout-fill">
    <div class="row layout-column layout-fill">
        <span class="flex"></span>

        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="panel panel-default centered" role="form">
                <div class="panel-heading">
                    <h1 class="panel-title">Forgot Password</h1>
                </div>
                <div class="panel-body">
                    <form name="forgotForm" ng-submit="ctrl.forgotSubmit()">
                        <div class="form-group">
                            <input type="email" name="email" ng-model="ctrl.email" placeholder="Email Address"
                                   class="form-control" required>

                            <div ng-messages="forgotForm.email.$error" role="alert"
                                 ng-show="forgotForm.$submitted || forgotForm.email.$dirty">
                                <div ng-message="required">Email Address is required</div>
                                <div ng-message="email">Email Address is not in the right format</div>
                            </div>
                        </div>
                        <input type="submit" class="btn form-control btn-default"
                               ng-disabled="!ctrl.email || forgotForm.$invalid">
                        </input>
                    </form>
                </div>
            </div>
            <p>We'll generate a password for you and send it to your email on record. If your email address has changed,
                please <a href="http://support.mymobilewatchdog.com/">contact support</a>.</p>

            <p>Want to <a ui-sref="login">log in instead</a>?</p>
        </div>
        <span class="flex"></span>
    </div>
</div>
