<div class="container layout-fill">
    <div class="row layout-fill layout-column">
        <span class="flex"></span>

        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title text-capitalize">Please validate your account</h1>
                </div>
                <div class="panel-body">
                    <p>Please confirm your email address for us. We sent you an email with a customized link to enable
                        your account.</p>
                </div>
            </div>
            <p>Want to <a ui-sref="login">login instead</a>?</p>

            <p>Forgot your password? <a ui-sref="forgot">Ask our robots</a> to make a new one.</p>
        </div>
        <span class="flex"></span>
    </div>
</div>





