<div class="container layout-fill signup">
    <div class="row layout-fill">
		<div class="col-md-7 col-xs-12 col-sm-7 signup-text">

			<p class="signup-title-line">Sign Up</p>
			<p class="signup-subtitle-1">Give them a safer online experience.</p>
			<p class="signup-subtitle-2">Give yourself peace of mind.</p>
			
			<div class="table signup-price-table">
				<div class="table-row">
					<div class="table-cell signup-price"><span class="signup-price-symbol">$</span></div>
					<div class="table-cell signup-price signup-only">
					
					<span class="smaller">Only<br /></span>
					
					14.</div>
					<div class="table-cell signup-price">99<span class="smaller">/month</div>
				</div>
			</div>
		
			<p class="signup-subtext">Per family, up to 5 devices</p>
		</div>

        <div class="col-md-5 col-xs-12 col-sm-5 signup-form">
       		<span class="flex"></span>
        	<ng-include src="'app/components/login/signup-form.html'"></ng-include>
        	<span class="flex"></span>
        </div>
    </div>
</div>
