﻿<div class="padding">
    <div ng-show="$state.is('secure.settings.accounts')">
        <div class="row" style="margin-bottom: 10px">
            <div class="text-primary col-sm-2">
                Name
            </div>

            <div ng-bind="ctrl.account.first_name + ' ' + ctrl.account.last_name" class="col-sm-10"></div>
        </div>

        <div class="row" style="margin-bottom: 10px">
            <div class="text-primary col-sm-2">
                Email
            </div>

            <div class="col-sm-10" ng-bind="ctrl.account.email"></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-info" ng-click="$state.go('.edit')">Edit</button>
                <button type="button" class="btn btn-info" ng-click="$state.go('.password')">Change Password</button>
            </div>
        </div>
    </div>
    <ui-view></ui-view>
</div>
