<div class="main-content" id="website-details">
    <div class="subhead">
        <h2 ng-bind="ctrl.site.device_website.domain"></h2>
        <a href ng-click="ctrl.closeSite()"><i class="material-icons">close</i></a>
    </div>

    <div class="list-container flex" id="detail-scroller">
        <md-list ng-if="ctrl.site" data-infinite-scroll='ctrl.details.nextPage()' role="list"
                 data-infinite-scroll-disabled='ctrl.details.busy' data-infinite-scroll-distance='2'
                 data-infinite-scroll-container="ctrl.detailContainer" class="list-striped">
            <md-list-item ng-repeat="site in ctrl.details.results" class="padding md-2-line">
                <div ng-show="site.log_action.id" class="md-avatar"
                     ng-class="site.log_action.name === 'website_blocked' ? 'bg-warn' : 'bg-success'">
                    <i class="material-icons md-avatar-icon"
                       ng-bind="site.log_action.name === 'website_blocked' ? 'block' : 'done'"></i>
                </div>
                <div class="md-list-item-text">
                    <h3 ng-show="!site.log_device_website.domain">{{site.log_device_website.url || site.log_action.description}}</h3>
                    <h3 ng-show="site.log_device_website.domain"><a href="{{site.log_device_website.url}}" target="_blank">{{site.log_device_website.url}}</a></h3>
                    <p class="text-muted">
                        <span class="glyphicon glyphicon-time"></span> <span
                        ng-bind="site.device_created_on | wdDate"></span>
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
