﻿<div class="layout-row layout-fill" ng-class="ctrl.site ? ['record-selected'] : []">
    <div class="column-container">
        <div class="record-container" id="website-container">
            <md-list infinite-scroll="ctrl.pager.nextPage()" infinite-scroll-disabled="ctrl.pager.busy"
                     infinite-scroll-distance="1" data-infinite-scroll-container="ctrl.container"
                     class="list-striped single-line">
                <md-list-item ng-repeat="site in ctrl.pager.results" class="md-2-line padding">
                    <div class="md-avatar">
                        <a href ng-click="ctrl.selectSite(site)"><i
                            data-status-icon data-page="websites" class="md-avatar-icon"
                            data-alert-status="{{site.alert_status_id}}"
                            data-restriction-status="{{site.restriction_status_id}}"></i></a>
                    </div>

                    <div class="md-list-item-text">
                        <a href ng-click="ctrl.selectSite(site)"><h3>{{site.name}}</h3></a>
                    </div>

                    <div class="md-list-item-inner">
                        <status-settings page="websites" row-data="site"
                                         android="{{ctrl.pager.device.is_android}}"></status-settings>
                    </div>
                </md-list-item>

                <div ng-cloak ng-show="!ctrl.pager.results.length">No results found...</div>
            </md-list>
        </div>

        <button class="mdl-button mdl-button--fab" title="Add new Website"
                ng-click="ctrl.addSite()">
            <i class="material-icons">add</i></button>
    </div>
    <div class="main-content" ng-include="ctrl.template">
    </div>
</div>

<main-menu>
    <div class="layout-column">
        <span class="flex"></span>
        <span class="flex"></span>
    </div>
</main-menu>
