<!-- facebook tracking pixel -->
<img src="https://www.clkmg.com/api/s/pixel/?uid=28925&att=2&amt=15.00&ref=" height="1" width="1" />
<form name="ctrl.subscribeForm" ng-submit="ctrl.subscribe()" id="billing-form">
    <div class="row">
        <div class="form-group col-sm-5">
            <label>Credit Card Number</label>
            <input name="card" type="credit card" ng-model="ctrl.card" placeholder="Credit Card Number..."
                   class="form-control" required>
            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.card.$dirty"
                 ng-messages="ctrl.subscribeForm.card.$error" role="alert">
                <div ng-message="required">Credit Card Number is required</div>
                <div ng-if="ctrl.subscribeForm.card.$error.mod10">Invalid Credit Card Number</div>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label>CVC</label>
            <input name="cvc" type="cvc" ng-model="ctrl.cvc" placeholder="CVC..."
                   class="form-control" required>

            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.cvc.$dirty"
                 ng-messages="ctrl.subscribeForm.cvc.$error" role="alert">
                <div ng-message="required">CVC is required</div>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label>Expiration</label>
            <div class="row">
                <div class="col-xs-5"><input name="expMonth" type="number" ng-model="ctrl.expMonth" placeholder="MM"
                                             class="form-control" required min="1" max="12">
                </div>
                <div class="col-xs-2">/</div>
                <div class="col-xs-5"><input name="expYear" type="number" ng-model="ctrl.expYear" placeholder="YY"
                                             class="form-control" required min="15" max="99">
                </div>
            </div>
            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.expMonth.$dirty"
                 ng-messages="ctrl.subscribeForm.expMonth.$error" role="alert">
                <div ng-message="required">Expiration Month is required</div>
                <div ng-message="min">Expiration Month must be at least 1</div>
                <div ng-message="max">Expiration Month can't be larger than 12</div>
            </div>

            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.expYear.$dirty"
                 ng-messages="ctrl.subscribeForm.expYear.$error" role="alert">
                <div ng-message="required">Expiration Year is required</div>
                <div ng-message="min">Expiration Year must be at least 15</div>
                <div ng-message="max">Expiration Year can't be larger than 99</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label>First Name</label>
            <input name="firstName" ng-model="ctrl.firstName" placeholder="First Name..."
                   class="form-control" required>

            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.firstName.$dirty"
                 ng-messages="ctrl.subscribeForm.firstName.$error" role="alert">
                <div ng-message="required">First name is required</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label>Last Name</label>
            <input name="lastName" ng-model="ctrl.lastName" placeholder="Last Name..."
                   class="form-control" required>

            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.lastName.$dirty"
                 ng-messages="ctrl.subscribeForm.lastName.$error" role="alert">
                <div ng-message="required">Last name is required</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Street Address</label>
        <div class="row">
            <div class="col-sm-8">
                <input name="streetAddress" ng-model="ctrl.streetAddress" placeholder="Address..."
                       class="form-control" required>

                <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.streetAddress.$dirty"
                     ng-messages="ctrl.subscribeForm.streetAddress.$error" role="alert">
                    <div ng-message="required">Street address is required</div>
                </div>
            </div>
            <div class="col-sm-4">
                <input name="streetAddress2" ng-model="ctrl.streetAddress2" placeholder="Address Line 2..."
                       class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label>City</label>
            <input name="city" ng-model="ctrl.city" placeholder="City..."
                   class="form-control" required>

            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.city.$dirty"
                 ng-messages="ctrl.subscribeForm.city.$error" role="alert">
                <div ng-message="required">City is required</div>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="state">State</label>
            <select name="state" id="state" ng-model="ctrl.state" class="form-control" required>
                <option value="">Select a State...</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">D.C.</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.state.$dirty"
                 ng-messages="ctrl.subscribeForm.state.$error" role="alert">
                <div ng-message="required">State is required</div>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label>Zip Code</label>
            <input name="zip" type="number" ng-model="ctrl.zip" placeholder="Zip Code..."
                   class="form-control" ng-minlength="5" min="0" max="99999" required>

            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.zip.$dirty"
                 ng-messages="ctrl.subscribeForm.zip.$error" role="alert">
                <div ng-message="required">Zip Code is required</div>
                <div ng-message="minlength">Zip Code must be 5 characters long</div>
                <div ng-message="max">Zip Code must be 5 characters long</div>
            </div>
        </div>
    </div>
    <div ng-show="!ctrl.isActive" class="row">
        <div class="form-group col-sm-8">
            <label>Promo Code</label>
            <input name="promoCode" placeholder="If you have a promo code, enter it here."
                   class="form-control">
        </div>
    </div>
    <div ng-show="!ctrl.isActive" class="row subscription-type">
        <div class="form-group col-sm-12">
            <div class="clearfix">
            	<input id="monthly" value="false" type="radio" ng-checked="true"
                       name="oneTimePayment" ng-model="ctrl.oneTimePayment">
				&nbsp; <label for="monthly">$14.99 Monthly Subscription</label>
            </div>
            <div class="clearfix">
                <input id="lifetime" value="true" type="radio" name="oneTimePayment" ng-model="ctrl.oneTimePayment">
                &nbsp; <label for="lifetime">$99.99 Annual Subscription</label>
            </div>

            <div ng-if="ctrl.subscribeForm.$submitted || ctrl.subscribeForm.oneTimePayment.$dirty"
                 ng-messages="ctrl.subscribeForm.oneTimePayment.$error" role="alert">
                <div ng-message="required">Please specify whether you want an annual or month-to-month subscription</div>
            </div>
        </div>
    </div>
    <div class="row">
    	<div class="form-group col-sm-12">
    		<input type="submit" class="btn btn-default" value="Update Credit Card"
           ng-disabled="ctrl.subscribeForm.$pristine || ctrl.subscribeForm.$invalid">
		</div>
	</div>
</form>
