<div  class="layout-column flex">
    <div class="subhead">
        <h2>
            <span ng-bind="ctrl.selectedRow.log_type.description"></span> - <span ng-bind="ctrl.selectedRow.log_action.description"></span>
        </h2>
        <a ng-click="ctrl.closeLog()"><i class="material-icons">close</i></a>
    </div>
    <div class="padding layout-column">
        <div ng-include src="ctrl.currentDetailsTemplate">
        </div>
        <div>
            <!--<button type="button" class="btn btn-info" ng-click="ctrl.addEditNote(ctrl.selectedRow)">Edit Note</button>-->
            <button type="button" class="btn btn-info" ng-click="ctrl.createReport(ctrl.selectedRow)">Create Report</button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="device-template.html">
    <md-list class="list-striped">
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h4>Date:</h4>
                <p ng-bind="ctrl.selectedRow.device_created_on | wdDate"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Type</h3>
                <span ng-bind="ctrl.selectedRow.log_action.description"></span>&nbsp;
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Description</h3>
                <span ng-bind="ctrl.selectedRow.log_device.description"></span>&nbsp;
            </div>
        </md-list-item>
    </md-list>
</script>
<script type="text/ng-template" id="website-template.html">
    <md-list class="list-striped">
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h4>Date:</h4>
                <p ng-bind="ctrl.selectedRow.device_created_on | wdDate"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Name</h3>
                <p ng-bind="ctrl.selectedRow.log_device_website.title"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Domain</h3>
                <p ng-bind="ctrl.selectedRow.log_device_website.domain"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>URL</h3>
                <a ng-bind="ctrl.selectedRow.log_device_website.url"></a>
            </div>
        </md-list-item>
    </md-list>
</script>
<script type="text/ng-template" id="call-template.html">
    <md-list class="list-striped">
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h4>Date:</h4>
                <p ng-bind="ctrl.selectedRow.device_created_on | wdDate"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Matched Contacts</h3>
                <span ng-bind="ctrl.selectedRow.device_contact.first_name"></span>&nbsp;
                <span ng-bind="ctrl.selectedRow.device_contact.last_name"></span>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Duration</h3>
                <p ng-bind="ctrl.selectedRow.log_call.duration"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>From</h3>
                <p ng-bind="ctrl.selectedRow.log_call.phone_number"></p>
            </div>
        </md-list-item>
    </md-list>
</script>
<script type="text/ng-template" id="app-template.html">
    <md-list class="list-striped">
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h4>Date:</h4>
                <p ng-bind="ctrl.selectedRow.device_created_on | wdDate"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Application</h3>
                <p ng-bind="ctrl.selectedRow.log_device_application.app_name"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Status</h3>
                <p ng-bind="ctrl.selectedRow.log_action.description"></p>
            </div>
        </md-list-item>
    </md-list>
</script>
<script type="text/ng-template" id="contact-template.html">
    <md-list class="list-striped">
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h4>Date:</h4>
                <p ng-bind="ctrl.selectedRow.device_created_on | wdDate"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Contact</h3>
                <!-- There's a JSON Formatting issue here -->
                <span ng-bind="ctrl.selectedRow.log_device_contact.contact_json.firstName"></span>&nbsp;
                <span ng-bind="ctrl.selectedRow.log_device_contact.contact_json.lastName"></span>
            </div>
        </md-list-item>
    </md-list>
</script>
<script type="text/ng-template" id="message-template.html">
    <md-list class="list-striped">
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h4>Date:</h4>
                <p ng-bind="ctrl.selectedRow.device_created_on | wdDate"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>From</h3>
                <p ng-bind="ctrl.selectedRow.device_contact.from_handle"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Body</h3>
                <p ng-bind="ctrl.selectedRow.log_message.body"></p>
            </div>
        </md-list-item>
    </md-list>
</script>
<script type="text/ng-template" id="location-template.html">
    <md-list class="list-striped">
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h4>Date:</h4>
                <p ng-bind="ctrl.selectedRow.device_created_on | wdDate"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Name</h3>
                <p ng-bind="ctrl.selectedRow.log_action.name"></p>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Location</h3>
                <span ng-bind="ctrl.selectedRow.log_location.longitude"></span>,
                <span ng-bind="ctrl.selectedRow.log_location.latitude"></span>
            </div>
        </md-list-item>
    </md-list>
</script>
