<div style="padding: 10px;">
    <h2>iCloud Credentials for iOS</h2>

    <p>Please select from the below options</p>

    <form name="iCloudForm" ng-submit="ctrl.iCloud()" ng-if="!ctrl.icloud-devices">
        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-group">
                <input type="text" ng-model="ctrl.icloud.username" placeholder="iCloud Username" class="form-control"
                       name="phone" required>

                <div ng-messages="iCloudForm.phone.$error" role="alert">
                    <div ng-message="required">iCloud Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" ng-model="ctrl.icloud.password" placeholder="iCloud Password" class="form-control"
                       name="name" required>

                <div ng-messages="iCloudForm.name.$error" role="alert">
                    <div ng-message="required">iCloud Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="iCloudForm.submit()">Add Device</button>
            </div>
        </div>
    </form>

    <ui-view></ui-view>
</div>
