<div account-bar ng-if="secure.devices.length > 1"></div>

<div style="padding: 10px;">
    <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
        <h2>Add Child Phone</h2>

        <p>Select Your Child's Phone Type:</p>

        <div class="layout-row">
            <div class="flex">
                <a href ui-sref="secure.wizard.ios">
                    <i class="material-icons md-48">tablet_mac</i><br>
                    iPhone</a>
            </div>

            <div class="flex">
                <a href ui-sref="secure.wizard.android">
                    <i class="material-icons md-48">android</i><br>
                    Android</a>
            </div>

        </div>
    </div>
</div>
