<div style="padding: 10px;">
    <h2>Please provide us with some info</h2>

    <p>Provide your iOS device's phone number along with a friendly display name which we will use to help you identify
    the device when using the dashboard. In addition, enter the iCloud credentials for this device. We will verify you have
    backups available with iCloud and present you a list of devices we found. Select the correct device from the list to add your
    iOS device.</p>

    <form name="deviceForm" ng-submit="ctrl.iCloud()" ng-show="!ctrl.devices" class="row">
        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-group">
                <input type="tel" ng-model="ctrl.device.phone" placeholder="Phone Number" class="form-control"
                       name="phone" required minlength="10" maxlength="10">

                <div ng-messages="deviceForm.phone.$error" role="alert"
                     ng-show="deviceForm.$submitted || deviceForm.phone.$dirty">
                    <div ng-message="required">Phone is required</div>
                    <div ng-message="minlength">Phone must be 10 digits</div>
                    <div ng-message="maxlength">Phone must be 10 digits</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" ng-model="ctrl.device.displayName" placeholder="Display Name" class="form-control"
                       name="name" required>

                <div ng-messages="deviceForm.name.$error" role="alert"
                     ng-show="deviceForm.$submitted || deviceForm.name.$dirty">
                    <div ng-message="required">Display Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" ng-model="ctrl.icloud.username" placeholder="iCloud Username" class="form-control"
                       name="iCloudUser" required ng-minlength="6">

                <div ng-messages="deviceForm.iCloudUser.$error" role="alert"
                     ng-show="deviceForm.$submitted || deviceForm.iCloudUser.$dirty">
                    <div ng-message="required">iCloud Username is required</div>
                    <div ng-message="minlength">iCloud Username must be at least 6 characters long</div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" ng-model="ctrl.icloud.password" placeholder="iCloud Password"
                       class="form-control" ng-minlength="6"
                       name="iCloudPassword" required>

                <div ng-messages="deviceForm.iCloudPassword.$error" role="alert"
                     ng-show="deviceForm.$submitted || deviceForm.iCloudPassword.$dirty">
                    <div ng-message="required">iCloud Password is required</div>
                    <div ng-message="minlength">iCloud Password must be at least 6 characters long</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="deviceForm.submit()">Add Device</button>
            </div>
        </div>
    </form>
    <ui-view></ui-view>
</div>
